:root {
	--sk-back-1: 0, 0%, 10%;
	--sk-back-2: 0, 0%, 18%;
	--sk-back-3: 0, 0%, 14%;
	--sk-back-4: 0, 0%, 22%;
	--sk-back-5: 0, 0%, 40%;
	--sk-text-1: 0, 0%, 90%;
	--sk-text-2: 0, 0%, 80%;
	--sk-text-3: 0, 0%, 65%;
	--sk-theme-1: 15, 100%, 55%;
	--sk-theme-2: 240, 8%, 44%;
	--sk-theme-3: 204, 100%, 63%;
}

html,
body {
	background-color: hsl(var(--sk-back-3));
	color: hsl(var(--sk-text-1));
	font-family: Monospace;
	accent-color: hsl(var(--sk-theme-1));
	color-scheme: dark;
}
